<div class="w-64 h-screen bg-gray-900 text-white p-5">

  <h2 class="text-2xl font-bold mb-8">⚽ Académie</h2>

  <ul class="space-y-4">

    <li>
      <a routerLink="/dashboard" class="block hover:text-yellow-400">
        <mat-icon>space_dashboard</mat-icon>Dashboard
      </a>
    </li>

    <li>
      <a routerLink="/joueurs" class="block hover:text-yellow-400">
        <mat-icon>groups</mat-icon>
        Joueurs
      </a>
    </li>

    <li>
      <a routerLink="/planning" class="block hover:text-yellow-400">
        <mat-icon>calendar_today</mat-icon>
        Planning
      </a>
    </li>

    <li>
      <a routerLink="/dashboard/boutique" class="block hover:text-yellow-400">
        <mat-icon>shopping_cart</mat-icon>
        Boutique
      </a>
    </li>

    <li>
      <a routerLink="/parametres" class="block hover:text-yellow-400">
        <mat-icon>settings</mat-icon>
        Paramètres
      </a>
    </li>

  </ul>

</div>