<div class="w-full h-16 bg-white shadow flex items-center justify-between px-6">

  <!-- Title -->
  <h1 class="text-xl font-bold text-gray-700">
    Dashboard
  </h1>

  <div class="flex items-center space-x-3" *ngIf="user">

  <div class="text-right">
    <p class="font-semibold">{{ user.nom }}</p>
    <p class="text-sm text-gray-500">{{ user.role }}</p>
  </div>

  <div class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center font-bold">
    {{ user.nom.charAt(0).toUpperCase() }}
  </div>

</div>

</div>